@charset "UTF-8";

body {
    background-color: #84E1AD;
}

a {
    color: rgba(255, 255, 255, 0.856);
    text-decoration: none;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.596);
}

footer {
    text-align: left;
    
}

.idroid {
    text-align: center;
    font-family: idroid, sans-serif;
    color: #1B5C38;
}

main {
    background-color: white;
    border: 5px solid #6FBD91;
    text-align: center;
}

main > h2 {
    background-image: linear-gradient(to right, #C8ECD8, #EAF8F0, white);
}

img {
    max-width: 100%;
    height: auto;
}

#tl {
    background-color: #2FA866;
    color: white;
    border-radius: 10px;
}

#cl {
    background-color: #C5EBD6;
    border-radius: 10px ;
}

.fontg {
    font-family: 'Bebas Neue', sans-serif;
}